@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #1F2937;
}

.nav .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav .nav-links {
    font-size: 18px;
    color: #E5E7EB;
}