@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #1F2937;
    height: 100vh;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
}

.nav .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.nav .nav-links {
    font-size: 18px;
    color: #E5E7EB;
}

.nav-links a {
    padding: 0 16px;
}

a {
    text-decoration: none;
}

a:link {
    color: #E5E7EB;
}

.hero-section {
    margin: 7% 15%;
}

.hero-section .hero-text {
    display: grid;
    width: 30%;
}

.hero-section .main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-section .sub{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section .button {
    width: 1%;
}